/*
 * An idea is split into two sections, the top having a preview window and
 * basic information, and the botom having activity.
 */
.infoContainers {
	width: 100%;
	height: 100%;

	display: flex;

	flex-flow: column nowrap;

	justify-content: space-between;
	align-items: stretch;
}

.splitPanel {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: stretch;

	height: 50%;
}

.splitPanel>* {
	width: 47%;
	height: 100%;
}
