.infoContainers {
	display: flex;

	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.infoContainers>.proposalLists {
	height: 100%;

	margin-bottom: 1em;
}

.proposalList>*:nth-child(2) {
	overflow: auto;
}

.proposalList {
	height: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.proposalLists>*:nth-child(2n) {
	overflow: auto;
}

.newPropButton {
	border-radius: 5px;
}

/* The item on the left on the proposals screen will be a list of proposals.
 * However, a preview on the right of the proposal can also be activated.
 * Leave roon for this. */
.prioritySplit>*:first-child {
	min-width: 50%;

	transition: 0.3s width, min-width, max-width;
}
