.navPanel {
	border-right: 0.5px solid rgba(255, 255, 255, 0.25);
	height: 100%;
}

.navItems {
	list-style-type: none;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.navItems>* {
	width: 100%;
	padding-top: 1rem;
}
