.navPanel {
	border-right: 0.5px solid rgba(255, 255, 255, 0.25);
	height: 100%;

	display: flex;

	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center; 
}

.navItems {
	list-style-type: none;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.navItems>* {
	width: 100%;
	padding-bottom: 1rem;

	display: flex;

	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}

.navItems>*>* {
	width: 100%;
}

.guttered {
	width: 90%;
}

.infoSection {
	margin-top: 1.5rem;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	display: flex;
	flex-flow: column nowrap;

	justify-content: center;
	align-items: center;

	padding: 1rem;
	width: 100%;
}

.separated {
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.guttered.separated {
	display: flex;
	flex-flow: column nowrap;

	justify-content: center;
	align-items: center;

	padding-bottom: 2rem;
}

.guttered.separated>* {
	width: 100%;
}
