.prevWindowHeader {
	border-bottom: 2px solid #5D5FEF;

	margin: 0;
	padding-bottom: 0.5em;
}

.prevWindow {
	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: flex-start;

	padding: 2em;
	overflow: hidden;

	height: 100%;
}
