.visionaryWindow {
	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: flex-start;
}

.loadingContainer {
	display: flex;

	justify-content: center;
	align-items: center;

	align-self: center;
	height: 100%;
}

.listDisplayContainer {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: stretch;

	height: 100%;
	width: 100%;
}

.textListInfo {
	width: 40%;

	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: stretch;
}

.listItem {
	display: flex;

	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.listItem>*:first-child {
	margin-right: 0.5em;
}

.bubblesPool {
	display: flex;

	flex-flow: row wrap;

	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;

	margin-left: 1em;

	overflow: auto;
}

.visBubble {
	margin: 0.5em;

	border-radius: 100%;
	overflow: clip;

	transition: 0.3s;

	border: 0px;
	cursor: pointer;
}

.visBubble.active {
	border: 2px solid #5D5FEF;
}

.activeVisionaryInfo {
	background-color: #5D5FEF;
	border-radius: 5px;

	padding: 0.5em;
}

.activeVisionaryInfo p {
	margin: 0;
}

.activeVisionaryInfo .listItem:nth-child(2) {
	margin-top: 0.75em;
}

.visionaryName {
	font-size: 1em;

	width: 100%;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	font-weight: bold;
	color: white;

	max-width: 100%;

	display: block;
}

.pfpBubble {
	object-fit: cover;
}
