.container {
	position: relative;
}

.container img {
	position: absolute;

	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	object-fit: cover;

	z-index: 0;
}

.container .chooseButton {
	display: flex;

	flex-flow: column nowrap;

	justify-content: center;
	align-items: center;

	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;

	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	cursor: pointer;

	transition: 0.3s;
}

.container input:hover + .chooseButton {
	background-color: rgba(0, 0, 0, 0.6);
}

.container input {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;

	cursor: pointer;
	z-index: 2;

	opacity: 0;
}
