.stepContainer {
	display: flex;

	flex-flow: column nowrap;
	justify-content: space-between;

	align-items: stretch;

	width: 100%;

	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.stepContainer p {
	margin: 0;
}

.stepLabel {
	display: flex;

	flex-flow: column nowrap;

	justify-content: center;
	align-items: center;

	background-color: #5D5FEF;

	width: 1.5em;
	height: 1.5em;

	font-size: 0.9em;

	font-weight: bold;
	border-radius: 50%;

	margin-right: 0.5em;
}

.button {
	border-radius: 5px;
}

.row {
	display: flex;

	flex-flow: row nowrap;

	align-items: center;
}

.navButton {
	font-weight: bold;
	padding: 1.5rem;

	padding-top: 1.25rem !important;
	padding-bottom: 1.25rem !important;

	opacity: 100%;

	transition: all 500ms cubic-bezier(0.000, 0.955, 0.475, 0.995);
}

.navButton p, .navButton h1 {
	font-size: 1.25em !important;
	margin: 0;
	padding: 0;
}

.full {
	width: 100%;
}

.prevButton {
	width: 30%;

	margin-right: 0.4em;
}

.nextButton {
	flex-grow: 1;
}

.navRow {
	margin-top: 1.75em;
}

.hidden {
	width: 0;
	overflow: clip;
	padding: 0;
	opacity: 0;
	margin: 0;
}

.stepDisplay {
	width: 70%;

	display: grid;

	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}
