.inputContainer {
	display: flex;
	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: center;

	cursor: pointer;
}

.underlinedInput {
	color: white;

	background-color: rgba(0, 0, 0, 0);
	opacity: 0.5;

	outline: none;
	text-decoration: none;
	cursor: text;

	border: none;
	border-bottom: 1px solid white;

	padding: none;

	font-size: 1em;
	font-family: "Roboto", "Helvetica Neue", sans-serif;

	transition: 0.3s;

	padding-left: 0;
	padding-right: 0;

	cursor: text;
}

.underlinedInput:focus {
	opacity: 1;
}

.inputContainer>*:first-child:not(:last-child) {
	margin-right: 0.5em;
}
