.formContainer {
	display: flex;

	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	overflow: auto;

	margin-bottom: 3em;
}

.mediaInputLabel {
	font-size: 1.125em;
}

.submitContainer {
	flex-grow: 1;

	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-end;
	align-items: stretch;
}

.submitButton {
	margin-top: 2em;

	border-radius: 5px;
}

.formItem {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

.formItem>*:first-child:not(:last-child) {
	margin-bottom: 0.25em;
}

.shortLabel {
	width: 5em;
}

.formItemList {
	display: flex;

	flex-flow: row wrap;

	justify-content: flex-start;
	align-items: center;
}

.formItemList>*:not(:first-child) { 
	margin-left: 2em;
}

.dateUnitSelector {
	margin-top: 1em;
}

.formLine {
	display: flex;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: baseline;
}

.formLine>*:last-child {
	margin-left: 1em;
}

.fullFormItem {
	align-self: stretch;
}

.fullWidthInput {
	width: 100%;
}

.fullWidthInput>* {
	width: 100%;
}

.formItem h1 {
	margin: 0;
}

.multiItemLine {
	display: flex;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: stretch;
}

.multiItemLine>*:first-child {
	margin-right: 2em;
}
