.spacedList {
	justify-content: space-around;
}

.list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	overflow-y: auto;
}

.list>*:not(:last-child) {
	margin-bottom: 1.25em;
}
