.rowLabelItem {
	display: flex;

	flex-flow: row nowrap;

	justify-content: center;
	align-items: center;
}

.rowLabelItem>*:first-child {
	margin-right: 0.75em;
}

.expandIcon {
	opacity: 1;

	cursor: pointer;

	transition: 0.3s;
}

.expandIcon:hover {
	opacity: 0.7;
}

.expandButton {
	display: flex;

	justify-content: center;
	align-items: center;
}

.labelButton {
	color: #5D5FEF;

	border-bottom: 1px solid #5D5FEF;

	cursor: pointer;

	opacity: 1;

	transition: 0.3s;
}

.labelButton:hover {
	opacity: 0.7;
}

.labelFail {
	color: #FF0000;
	border-bottom-color: #FF0000;
}

.labelDone {
	color: #44BF39;
	border-bottom-color: #44BF39;
}
