.ideaNavigationContainer {
	width: 93%;
	height: 93%;

	margin: auto;

	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: flex-start;
}

.navigationBarContainer {
	display: flex;

	width: 100%;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: center;

	border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

.navigationBarContainer h2 {
	font-weight: normal;
}

.navigationBarContainer a {
	color: white;
	opacity: 1;

	transition: 0.3s;
}

.navigationBarContainer a:hover {
	opacity: 0.7;
}

.navigationBarContainer>* {
	margin-right: 1.5em;
}

.navigatedContent {
	display: flex;

	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	/* 100% height inside navbar container */
	flex-grow: 1;

	width: 100%;
	overflow: auto;
}

.navOptionsContainer {
	display: flex;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: center;
}

.navOptionsContainer>* {
	margin-right: 2em;

	cursor: pointer;

	opacity: 1;

	transition: 0.3s;

	padding-bottom: 0.5em;
}

.navOptionsContainer>*:hover {
	opacity: 0.7;
}

.navOptionsContainer>.active {
	border-bottom: 2px solid #5D5FEF;
}
