.cardContainer {
	display: flex;

	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	border: 0.5px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;

	background-color: #1D1D1D;

	padding: 1.5em;

	opacity: 1;
	transition: 0.3s;
}

.invisible {
	opacity: 0;

	transition: 0.3s;
}

.cardInfo {
	overflow-x: hidden;
}

.cardInfo a {
	color: #5D5FEF;
}

.cardInfo a:visited {
	color: #5D5FEF;
}

.cardContainer p, .cardInfo p {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.cardContainer h2, .cardInfo h2 {
	margin-bottom: 0;
}

.cardContainer svg {
	cursor: pointer;
}

.cardMainTitle {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: center;
}

.cardTitle {
	display: inline-block;

	margin-top: 0.75em;
	margin-bottom: 0;

	border-bottom: 2px solid #5D5FEF;
	padding-bottom: 0.5em;
}

.cardTitleInfo {
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);

	margin-top: 0;
	padding-bottom: 1.5em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.description {
	margin-top: 0.5em;
}

.cardHeader {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: center;
}

.cardTitle h2 {
	margin: 0;
}

.infoLine {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: center;
}

.infoLine p {
	margin: 0;
}

.infoLine {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

.cardMetrics {
	display: flex;

	flex-flow: row nowrap;

	justify-content: space-between;
	align-items: center;
}

.metric {
	display: flex;

	flex-flow: row nowrap;
}

.metric>* {
	font-weight: bold;

	margin-top: 0.75em;
	margin-bottom: 0;
}

.metric>.metricValue {
	margin-right: 0.5em;
}

.posValueMetric {
	color: green;
}

.negValueMetric {
	color: red;
}

.closeButton {
	cursor: pointer;
}

.cardLoading {
	display: flex;

	flex-flow: row nowrap;

	justify-content: center;
	align-items: center;
}

.cardActions {
	margin-top: 2em;

	display: flex;

	flex-flow: row nowrap;

	align-items: center;
}

.cardActions>* {
	border-radius: 5px;

	font-size: 1em;
	padding: 1em;
}

.goButton {
	flex-grow: 1;
}

.buyButton {
	background-color: #44BF39 !important;

	flex-grow: 1;

	margin-left: 1em;

	text-overflow: ellipsis;

	cursor: pointer;

	transition: 0.3s;
}

.buyButton:hover {
	background-color: rgba(68, 191, 57, 0.6) !important;
}
