.activityPanelContainer {
	margin-top: 1em;

	height: 100%;

	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: stretch;
}

.panelHeader {
	display: flex;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: center;
}

.panelHeader>* {
	margin-right: 1em;
}

.loadingContainer {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.activityList>*:not(:first-child) {
	margin-top: 0.5em;
}

.actorLabel {
	text-decoration: none;
	color: #5D5FEF;
	font-weight: bold;
}

.row {
	display: flex;

	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
