.activityPanelContainer {
	margin-top: 1em;

	height: 100%;

	display: flex;

	flex-flow: column nowrap;

	justify-content: flex-start;
	align-items: stretch;
}

.panelHeader {
	display: flex;

	flex-flow: row nowrap;

	justify-content: flex-start;
	align-items: center;
}

.panelHeader>* {
	margin-right: 1rem;
}

.loadingContainer {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
