.root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: black;
	transition: 0.3s;
}

.hidden {
	opacity: 0.5;
}

.app {
	background-color: black;
	color: white;

	width: 100%;

	display: flex;

	justify-content: flex-start;
	align-items: stretch;
}

.app>.navPanel {
	width: 15%;
}

.app>.workspace {
	width: 85%;
}

.workspace {
	display: flex;

	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
