.filledButton {
	background-color: #5D5FEF;

	color: white;

	padding: 1.5rem;

	text-align: center;

	cursor: pointer;

	transition: 0.3s;
}

.filledButton>h1 {
	padding: 0;
	margin: 0;

	font-size: 1.5em;
}

.filledButton:hover {
	background-color: rgba(93, 95, 239, 0.8);
}
