.outlinedButton {
	display: flex;

	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	border-radius: 5px;
	border: 0.5px solid rgba(255, 255, 255, 0.25);

	background-color: #1E1E1E;

	padding: 1rem;

	cursor: pointer;

	transition: 0.3s;
}

.outlinedButton:hover {
	background-color: #141414;
}

.outlinedButton>* {
	margin-top: 0;
	margin-bottom: 0;
}

.outlinedButton h1, .outlinedButton h2 {
	font-size: 1.5rem;
	text-align: center;

	margin-left: 0.75rem;
	margin-right: 0.75rem;

	font-weight: normal;
}

.action {
	background-color: #5d5fef;
}

.action:hover {
	background-color: rgba(93, 95, 239, 0.75);
}

.error {
	border: 0px;

	background-color: rgba(237, 67, 55, 0.75);
}

.error:hover {
	background-color: #ED4337;
}
